{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ sentence.caption }}</title>
    <meta name="description" content="Бесплатные уроки по веб программированию" />
    <meta name="keywords" content="HTML,CSS,JavaScript" />
    <meta name="author" content="Андрей Штольц" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/owl-carousel.css" %}">
</head>
<body>
{% include 'sections/mainheader.html' %}
<main class="page-wrapper">
    <section class="header-page-bottom">
        <div class="section section-1 bg-image bg-image-1">
            <div class="container container-custom">
                <h1 class="text-white">BFG -С нами выгоднее!!</h1>
            </div>
        </div>
    </section>
    <section class="section section-2">

        <div class="container container-custom section-border">
            <h2 class="text-primary text-bold">{{ sentence.caption }}</h2>
            <div class="row products">
                <div class="col-sm-6 col-md-7 col-md-inset-right-0 text-center">
                    <div class="thumbnail-wrap">
                        <a href="#" class="thumbnail">
                            <img src="{{MEDIA_URL}}{{ sentence.main_img }}" width="607" height="635" alt="">
                        </a>
                        <div class="thumbnail-caption">
                            <span class="icon fa fa-search-plus"></span>
                            <div class="thumbnail-title">Посмотреть все фото</div>
                        </div>
                    </div>
                    <p class="thumbnail-desc"><span class="text-bold">Добавлено:</span> {{ sentence.create_time|date:"j-m-Y" }}
                        <span class="text-bold">Регион:</span> {{ sentence.get_region }} <span class="text-bold">Автор :</span> {{ sentence.autor }}</p>
                </div>
                <div class="col-sm-6 col-md-5 text-center">
                    <div class="column-wrap">
                        {% if sentence.price %}
                        <div class="price-box">
                            <span class="price-box-small">от</span>
                            <span class="price-box-big">{{ sentence.price }}</span>
                            <span class="price-box-small">грн</span>
                        </div>
                        {% else %}
                        <div class="price-box">
                            <span class="price-box-small">Цена</span>
                            <span class="price-box-big">не</span>
                            <span class="price-box-small">Указана</span>
                        </div>
                        {% endif %}
                        <div class="column-wrap-map">
                            <div class="column-wrap-map-author">
                                <span class="icon fa fa-user"></span>
                                <span class="column-wrap-map-author-name">{{ sentence.autor }}</span>
                            </div>
                            <img src="{% static 'images/map.jpg' %}" width="378" height="167" alt="">
                            <div class="column-wrap-map-bottom">
                                <span class="icon icon-secondary fa fa-map-marker"></span>
                                <div class="column-wrap-map-bottom-right">
                                    <div>{{ sentence.get_region }} {{ sentence.full_adress }}</div>
                                    <a href="#" id="map_google">Показать на карте</a>
                                </div>
                            </div>
                        </div>
                    {% if sentence.phone %}
                        <div class="view-phone">
                            <span class="icon icon-md icon-circle icon-secondary-filled fa fa-phone"></span>
                            <a href="callto:#" class="view-phone-number" id="phone_show">+38X XXX XXX</a>
                            <a href="#" id="phone_views">Показать</a>
                        </div>
                    {% endif %}
                        <div class="btn-wrap btn-wrap-visible-md">
                            <a href="#" class="btn btn-lg btn-block btn-offer btn-icon btn-primary">
                                <span class="icon icon-offer fa fa-star-o"></span>
                                <span>Добавить в избранное</span>
                            </a>
                        </div>
                        <div class="btn-wrap btn-wrap-visible-md">
                            <a href="#" class="btn btn-lg btn-block btn-offer btn-icon btn-secondary">
                                <span class="icon icon-offer fa fa-toggle-right"></span>
                                <span>Оформить подписку</span>
                            </a>
                        </div>
                    {% if sentence.web_site %}
                        <div class="btn-wrap btn-wrap-visible-md">
                            <a href="//{{ sentence.web_site }}" class="btn btn-lg btn-block btn-offer btn-icon btn-secondary" target="_blank">
                                <span class="icon icon-offer fa fa-edge"></span>
                                <span>Перейти на сайт</span>
                            </a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
{#            <div class="btn-wrap-hidden">#}
{#                <div class="btn-wrap-hidden-md">#}
{#                    <a href="#" class="btn btn-lg btn-block btn-offer btn-icon btn-primary">#}
{#                        <span class="icon icon-offer fa fa-star-o"></span>#}
{#                        <span>Добавить в избранное</span>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="btn-wrap-hidden-md">#}
{#                    <a href="#" class="btn btn-lg btn-block btn-offer btn-icon btn-secondary">#}
{#                        <span class="icon icon-offer fa fa-toggle-right"></span>#}
{#                        <span>Оформить подписку</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="btn-wrap-hidden">#}
{#                <div class="btn-wrap-hidden-md btn-block">#}
{#                    <a href="#" class="btn btn-lg btn-block btn-offer btn-icon btn-secondary">#}
{#                        <span class="icon icon-offer fa fa-edge"></span>#}
{#                        <span>Перейти на сайт</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
            <h4 class="text-gray-1">{{ sentence.description }}</h4>
            <div data-items="1" data-sm-items="2" data-md-items="3" data-stage-padding="5" data-lg-stage-padding="48" data-lg-margin="55"
                 data-loop="false" data-margin="30" data-mouse-drag="false" data-dots="true" data-nav="true" class="owl-carousel owl-carousel-products">
                {% for image in sentence.image.all %}
                    <div class="owl-item"><a href="#"><img src="/{{ image.img_path }}" style="width:295px; height: 283px;" alt=""></a></div>
                {% endfor %}

            </div>
            <div class="section-product-bottom">
                <div class="section-product-bottom-left">
                    <a href="javascript:history.go(-1)">Назад</a>
                </div>
{#                <div class="section-product-bottom-right">#}
{#                    <a href="#">Следующее предложение</a>#}
{#                </div>#}
            </div>
        </div>
    </section>
</main>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/owl.carousel.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/viewsentence.js" %}"></script>
<script>
    var data_sentence = {
        'id_sentence': {{ sentence.id }},
        'region': '{{ sentence.get_region }}',
        'adress': '{{ sentence.get_region }} {{ sentence.full_adress }}',
        'api_key': 'AIzaSyCFw0Qut9fvRqa7rScFxyInlhiDptvmEek'
    }
</script>
<style>
       #map_div {
        height: 400px;
        width: 100%;
       }
    </style>
<div id="map_div1"></div>
<div class="modal fade" id="myModalMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabelMap">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true">
                </span></button>
            </div>
            <div id="map_div"></div>
        </div>
    </div>
</div>

{#<script>#}
{#    var map;#}
{#    //Resize Google map#}
{#    $(function() {#}
{#        var $modal = $('#myModalMap'), $map = $('#map_div');#}
{#        $modal.on('shown.bs.modal', function () {#}
{#            google.maps.event.trigger($map[0], 'resize');#}
{#        });#}
{#    });#}
{##}
{#    function initMap() {#}
{#        var uluru = {lat: -25.363, lng: 131.044};#}
{#          map = new google.maps.Map(document.getElementById('map_div'), {#}
{#          zoom: 8,#}
{#          center: uluru#}
{#        });#}
{#        var marker = new google.maps.Marker({#}
{#          position: uluru,#}
{#          map: map#}
{#        });#}
{#        $('#myModalMap').modal('show');#}
{##}
{#      }#}
{#    </script>#}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFw0Qut9fvRqa7rScFxyInlhiDptvmEek">
</script>
<script src="{% static 'js/viewsentence.js' %}"></script>
{% include 'sections/mainfooter.html' %}
</body>
</html>