{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>BFG Login</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
{{ code }}
https://www.facebook.com/v2.9/dialog/oauth?client_id=214579749046389&redirect_uri=http://localhost:8000/
{% include 'sections/mainheader.html' %}
<main class="page-wrapper">
       <section class="header-page-bottom">
        <div class="section section-1 bg-image bg-image-1">
            <div class="container container-custom">
                <h1 class="text-white">BFG -С нами выгоднее!!</h1>
            </div>
        </div>
       </section>
       <section class="section section-1">
        <div class="container">
            <div class="row row-centered row-centered-nav-sign-reg-tabs">
                <div class="col-sm-10 col-lg-8">
                    <div class="nav-sign-reg-tabs-wrap">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% if tab %}
                                <li role="presentation"><a href="#one" aria-controls="home" role="tab" data-toggle="tab">Вход</a></li>
                                <li role="presentation" class="active"><a href="#two" aria-controls="profile" role="tab" data-toggle="tab">Регистрация</a></li>
                            {% else %}
                                <li role="presentation" class="active"><a href="#one" aria-controls="home" role="tab" data-toggle="tab">Вход</a></li>
                                <li role="presentation"><a href="#two" aria-controls="profile" role="tab" data-toggle="tab">Регистрация</a></li>
                            {% endif %}
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane {% if not tab %}active{% endif %}" id="one">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-secondary btn-icon btn-icon-left btn-vk">
                                        <span class="icon icon-vk icon-white-filled fa fa-vk"></span>
                                        <span>Вход через Vkontakte</span>
                                    </a>
                                    <a href="#" class="btn btn-secondary btn-icon btn-icon-left btn-vk">
                                        <span class="icon icon-facebook fa fa-facebook-square"></span>
                                        <span>Вход через Facebook</span>
                                    </a>
                                </div>
                                <p class="desc text-center">или</p>
                                    {% if none_user %}
                                            <div class="alert alert-danger">
                                                <strong>{{ none_user|escape }}</strong>
                                            </div>
                                    {% endif %}

                                <form action="/login/" class="form" method="post">{% csrf_token %}

                                    <div class="form-group {% if lerrors.username %}has-warning{% endif %}">
                                        <input type="text" class="form-control" placeholder="Логин"  name="username" required></br>
                                        {% if lerrors.username %}
                                            <div class="alert alert-danger">
                                                <strong> {{ lerrors.username|escape }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group {% if lerrors.password %}has-warning{% endif %}">
                                        <input type="password" class="form-control" placeholder="Пароль"  name="password" required></br>
                                        {% if lerrors.password %}
                                            <div class="alert alert-danger">
                                                <strong> {{ lerrors.password|escape }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row-centered">
                                        <div class="checkbox checkbox-left">
                                            <label>
                                                <input type="checkbox"  name="rememder" checked>Запомнить меня
                                            </label>
                                        </div>
                                        <p class="link-right">
                                            <a href="#">Не можете войти?</a>
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-block btn-secondary">Войти</button>
                                    <p class="nav-terms">Входя в раздел Мой Профиль, Вы принимаете <a href="#">Условия использования</a> сайта</p>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane {% if tab %}active{% endif %}" id="two">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-secondary btn-icon btn-icon-left btn-vk">
                                        <span class="icon icon-vk icon-white-filled fa fa-vk"></span>
                                        <span>Вход через Vkontakte</span>
                                    </a>
                                    <a href="#" class="btn btn-secondary btn-icon btn-icon-left btn-vk">
                                        <span class="icon icon-facebook fa fa-facebook-square"></span>
                                        <span>Вход через Facebook</span>
                                    </a>
                                </div>
                                <p class="desc text-center">или</p>
                                <form action="/registrations/" class="form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group {% if rerrors.username %}has-warning{% endif %}">
                                        <input type="text" class="form-control" placeholder="Логин"  name="username" required></br>
                                        {% if rerrors.username %}
                                            <div class="alert alert-danger">
                                                <strong> {{ rerrors.username|escape }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group {% if rerrors.password %}has-warning{% endif %}">
                                        <input type="password" class="form-control" placeholder="Пароль"  name="password" required></br>
                                        {% if rerrors.password %}
                                            <div class="alert alert-danger">
                                                <strong> {{ rerrors.password|escape }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-block btn-secondary">Регистрация</button>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="rulles" required checked> *Я соглашаюсь с правилами <a href="#">использования сервиса</a>,
                                            а также с передачей и обработкой моих данных BFG.
                                            Я подтверждаю своё совершеннолетие и ответственность  за размещение объявления
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'sections/mainfooter.html' %}
<p id="343434434343">{{ lerrors }}</p>
<p id="3434344343">{{ user }}</p>
</body>
