{% load staticfiles %}
<section class="section section-4 {{ styles }}">
        <div class="container container-custom-2">
            <form action="{% url 'filtersent' %}" method="get">
                <div class="row select-group row-sm-center row-md-center text-center text-md-left row-md-custom">
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="type_id">
                                <option value="0">Тип предложения</option>
                                {% for type in data_ctr.types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="category_id">
                                <option value="0">Категория</option>
                                {% for category in data_ctr.categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="region_id">
                                <option value="0">Регион</option>
                                {% for region in data_ctr.regions %}
                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="is_webstore">
                                <option value="0">Все</option>
                                <option value="1">Только интернет-предложения</option>
                                <option value="2">Только регионы</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3">
                        <button type="submit" class="btn btn-primary btn-search">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </section>