{% load static %}
{% load customfilters %}
<section class="section section-4 {{ styles }}">
        <div class="container container-custom-2">
            <form action="{% url 'filtersent' %}" method="get">{% csrf_token %}
                <div class="row select-group row-sm-center row-md-center text-center text-md-left row-md-custom">
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="type_id">
                                <option value="" {% if data_form.type_id == 0 %} selected {% endif %}>Тип предложения</option>
                                {% for type in data_ctr.types %}
                                    <option value="{{ type.id }}" {% if data_form.type_id|strtoint == type.id %} selected {% endif %}>
                                        {{ type.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="category_id">
                                <option value="">Категория</option>
                                {% for category in data_ctr.categories %}
                                    <option value="{{ category.id }}" {% if data_form.category_id|strtoint == category.id %} selected {% endif %}>
                                        {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="region_id">
                                <option value="">Регион</option>
                                {% for region in data_ctr.regions %}
                                    <option value="{{ region.id }}" {% if data_form.region_id|strtoint == region.id %} selected {% endif %}>
                                        {{ region.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3-custom bfg">
                        <div class="form-group form-group-select">
                            <select class="form-control form-control-select" name="is_webstore">
                                <option value="0" {% if data_form.is_webstore == '0' %} selected {% endif %}>Все</option>
                                <option value="1" {% if data_form.is_webstore == '1' %} selected {% endif %}>Интернет-предложения</option>
                                <option value="2" {% if data_form.is_webstore == '2' %} selected {% endif %}>Только регионы</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3">
                        <button type="submit" class="btn btn-primary btn-search">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
