        <section class="section section-2">
            <div class="container container-custom">
                {% for category_list in data_ctr.categories_list %}
                <ul class="list-inline list-fitch text-center row">
                    {% for cl in category_list %}
                        {% if forloop.counter0|divisibleby:"2"  %}
                            <li class="col-md-2">
                        {% else %}
                            <li class="col-md-3">
                        {% endif %}
                            <a href="{{ cl.get_absolute_url }}all/">
                            {% if cl.is_icon_img %}
                                <span class="icon icon-lg icon-circle icon-img icon-secondary-filled">
                                    <img src="static/{{ cl.icon_style }}" width="49" height="51" alt="">
                                </span>
                            {% else %}
                                <span class="icon icon-lg icon-circle icon-secondary-filled {{ cl.icon_style }}"></span>
                            {% endif %}
                                <span class="h3 font-accent reveal-block">{{ cl.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </section>
    </div>