{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Бесплатные уроки по веб программированию" />
    <meta name="keywords" content="HTML,CSS,JavaScript" />
    <meta name="author" content="Андрей Штольц" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
</head>
<body>
{% include 'sections/mainheader.html' %}
<main class="page-wrapper">
<div class="section-cover">
        <section class="header-page-bottom">
            <div class="section section-1 bg-image bg-image-1">
                <div class="container container-custom">
                    <h1 class="text-white">BFG -С нами выгоднее!!!</h1>
                </div>
            </div>
        </section>
   {% include 'sections/maincategories.html' %}
   {% include 'sections/mainfilter.html' with styles="bg-secondary" %}
    {% block content %}
        <img src="{{ sentences.main_img }}" width="102" height="75" alt="">
        <section class="section section-3 text-center text-sm-left">
        <div class="container container-custom-2">
            <h2 class="text-primary text-sbold">ТОР-Предложения</h2>
        {% for sentences in sentences_list %}
            <div class="row row-sm-center products">
            {% for sentence in sentences %}
                <div class="col-xs-7 col-sm-3">
                    <article class="product">
                        <a href="{{ sentence.get_absolute_url }}" class="product-img-wrap" title="{{ sentence.caption }}">
                                <span class="label">
                                    <img src="{% static sentence.type_img_s %}" width="102" height="75" alt="{{ sentence.autor }}">
                                </span>
                            <img src="{{MEDIA_URL}}{{ sentence.main_img }}" style="width: 277px; height: 205px" alt="">
{#                                <span class="author">#}
{#                                    <img src="{% static 'images/author-05-125x33.jpg' %}" width="107" height="33" alt="">#}
{#                                </span>#}
                                <span class="author" style="color: #0f0f0f;">
                                    {{ sentence.autor }}
                                </span>
                        </a>
                        <div class="product-title">
                            <a href="{{ sentence.get_absolute_url }}">{{ sentence.caption }}</a>
                        </div>
                        <ul class="list-inline nowrap-lg">
                        {% if sentence.price %}
                            <li>цена:  от {{ sentence.price }} грн</li>
                        {% endif %}
                            <li>
                                <ul class="list-inline">
                                    {% if sentence.web_site %}
                                        <li>
                                            <a href="//{{ sentence.web_site }}" class="icon fa fa-edge" title="Перейти на сайт" target="_blank">

                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="#" class="icon fa fa-star-o" title="В избранное"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon fa fa-envelope-o" title="Подписаться" data-id-sent="{{ sentence.id }}" ></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
            <div class="offset-top-30 text-md-right">
                <a href="{% url 'alltop' %}" class="link-all">Посмотреть все</a>
            </div>
        </div>
    </section>
    {% endblock %}
</div>
</main>
{% include 'sections/mainfooter.html' %}
</body>
</html>