{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
</head>
<body>
{% include 'sections/mainheader.html' %}
<main class="page-wrapper">
   {% include 'sections/maincategories.html' %}
   {% include 'sections/mainfilter.html' %}
    {% block content %}
        {{ sentences_list }}
        <img src="media/{{ sentences.main_img }}" width="102" height="75" alt="">
        <section class="section section-3 text-center text-sm-left">
        <div class="container container-custom-2">
            <h2 class="text-primary text-sbold">ТОР-Предложения</h2>
        {% for sentences in sentences_list %}
            <div class="row row-sm-center products">
            {% for sentence in sentences %}
                <div class="col-xs-7 col-sm-3">
                    <article class="product">
                        <span class="author">
                                    Автор:{{ sentence.autor }}
                        </span>
                        <a href="index-1.html" class="product-img-wrap">
                                <span class="label">
                                    <img src="{% static sentence.type_img_s %}" width="102" height="75" alt="{{ sentence.autor }}">
                                </span>
                            <img src="{{MEDIA_URL}}{{ sentence.main_img }}" style="width: 257px; height: 205px" alt="">
                                <span class="author">
                                    Автор:Детский мир
                                </span>
                        </a>
                        <div class="product-title">
                            <a href="index-1.html">{{ sentence.caption }}</a>
                        </div>
                        <ul class="list-inline nowrap-lg">
                            <li>цена:  от 140 000 грн</li>
                            <li>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="icon fa fa-edge" title="Перейти на сайт"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon fa fa-star-o"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon fa fa-envelope-o"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
            <div class="offset-top-30 text-md-right">
                <a href="#" class="link-all">Посмотреть все</a>
            </div>
        </div>
    </section>
    {% endblock %}
</main>
{% include 'sections/mainfooter.html' %}
</body>
</html>